<h1>All Posts</h1>
<%= link_to "New", new_post_path(@post),class: 'btn btn-success' %>
<% @posts.each do |post| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= link_to post.title, post %>
        <small>
         submitted <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.name %><br>
         <%= post.comments.count %> Comments
        </small>
        </h4>
      </div>
    </div>
<% end %>