<!DOCTYPE html>
<html>
<head>
  <title>Bloccit</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <ul class="nav nav-tabs">
      <li><%= link_to "Bloccit", root_path %></li>
      <li><%= link_to "About", about_path%></li>
      <li><%= link_to "Contact", contact_path%></li>
      <li><%= link_to "Posts", posts_path%></li>
    </ul>
    <%= yield %>
    <div id="footer">
      <ul>
        <li><%= link_to "Follow me", "http://www.facebook.com/trybloc", class: "social-btn" %></li>
        <li><%= link_to "Fong's Facebook", "http://www.facebook.com/fongvoltfan", class: "social-btn" %></l>
        <li><%= link_to "LinkedIn", "https://www.linkedin.com/pub/fong-fan/1a/b96/709", class: "social-btn" %></li>
        <li><%= link_to "GitHub", "https://www.github.com/voltaaage", class: "social-btn" %></li>
      </ul>
    </div>
  </div>

</body>
</html>
